{% extends "layout.html" %}

{% block title %}文章管理{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/articles.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">文章管理</h1>
    <div class="list-content ">
        <div class="toolbar-search">
            <div >
                <label>日期：</label>
                <input type="date" id="dateFilter" class="default-input" onchange="changePage(1)">
            </div>
            <div >
                <label>来源：</label>
                <select id="source" class="default-select" onchange="changePage(1)">
                    <option value="">全部</option>
                    <option value="SinaFinance">新浪财经</option>
                    <option value="WallStreetCN">华尔街见闻</option>
                    <option value="Cls">财联社</option>
                </select>
            </div>
            <div >
                <label>状态：</label>
                <select id="status" class="default-select" onchange="changePage(1)">
                    <option value="">全部</option>
                    <option value="success" selected>内容抓取成功</option>
                    <option value="pending">待内容抓取</option>
                    <option value="failed">内容抓取失败</option>
                </select>
            </div>
            <div >
                <label>每页显示：</label>
                <select id="pageSize" class="default-select" onchange="changePage(1)">
                    <option value="10">10条</option>
                    <option value="20">20条</option>
                    <option value="50">50条</option>
                </select>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>标题</th>
                    <th>发布日期</th>
                    <th>来源</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="articlesTable">
            </tbody>
        </table>
        <div class="pagination" id="pagination">
        </div>
    </div>
</div>

<!-- 文章详情模态框 -->
<div id="articleModal" class="modal">
    <div class="modal-content">
        <div id="articleContent">
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/articles.js') }}"></script>
{% endblock %} 